.Pagination {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Pagination li {
  all: unset;
}
.Pagination li a {
  all: unset;
  border: 1px solid blue;
  padding: 5px 15px;
  margin: 5px;
  font-size: 4vmin;
  color: blue;
  cursor: pointer;
}
.Pagination li a:hover {
  color: red;
}
